@import "../colors";

.main_cards {
  padding: 1rem;
}

.main_cards_nav {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: nav-start;
  grid-column-end: nav-end;
}

.main_cards__blog {
  grid-column-start: hd-start;
  grid-column-end: hd-end;
}

.main_cards__blog--primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Yellowtail", cursive;

  p {
    font-size: 3rem;
  }
}

.blog-ico {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 5rem;
  height: 5rem;

  path {
    fill: $primary_green;
  }
}

.login-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.login-ico {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 2rem;
  height: 2rem;

  path {
    fill: $primary_purple;
  }
}

.attributions {
  grid-column-start: hd-start;
  grid-column-end: hd-end;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_lgout {
  color: $primary_green !important;
}